h1 {
  text-align: center;
  margin-top: 40px;
  color: white;
}

#sortForm {
  margin-top: 40px;
  text-align: center;
}

#carousel {
  margin-top: 50px;
}

.carouselImages {
  height: 750px;
  min-height: 750px;
}

.listingImage {
  height: 100px;
  width: 200px;
  float: right;
}

.date {
  background-color: blue;
  text-align: center;
  font-size: 19px;
  color: white;
}

body {
  background-color: black;
}

#sortText {
  color: white;
}

#results {
  margin-top: 20px;
}

.info {
  margin-top: 10px;
  font-size: 18px;
}

.price {
  margin-top: 10px;
  font-size: 18px;
}
