h1 {
  text-align: center;
  margin-top: 40px;
  color: white;
}

#sortForm {
  margin-top: 40px;
  text-align: center;
}

#carousel {
  margin-top: 50px;
}

.carouselImages {
  height: 750px;
  min-height: 750px;
}

.listingImage {
  height: 100px;
  width: 200px;
  float: right;
}

.date {
  background-color: blue;
  text-align: center;
  font-size: 19px;
  color: white;
}

body {
  background-color: black;
}

#sortText {
  color: white;
}

#results {
  margin-top: 20px;
}

.info {
  margin-top: 10px;
  font-size: 18px;
}

.price {
  margin-top: 10px;
  font-size: 18px;
}

#imageFooter {
  border-top: 0;
  height: 40px;
  padding-top: 0px;
}

#footerDates {
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid black;
  color: white;
  background-color: rgb(63, 153, 255);
}

#footerName {
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid black;
  color: white;
  background-color: rgb(63, 153, 255);
}

#footerLocation {
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid black;
  background-color: rgb(63, 153, 255);
}

#footerLineup {
  height: 40px;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(63, 153, 255);
}

#footerSite {
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid black;
  background-color: rgb(63, 153, 255);
}

#footerPrice {
  height: 40px;
  text-align: center;
  border: 1px solid black;
  color: white;
  padding-top: 10px;
  background-color: rgb(63, 153, 255);
}
#profile {
  margin-top: 20px;
}
#profilePanel {
  border: 0;
  margin-bottom: 0px;
}

#profileAddress {
  color: white;
}

#profileLineup {
  color: white;
}

#profileLink {
  color: white;
}
#profileBody {
  padding: 0px;
}

#profileImage {
  width: 100%;
  max-height: 350px;
}

#reviewTablist {
  background-color: white;
  margin-top: 2px;
  padding-top: 10px;
}

#reviewButton {
  margin-top: 10px;
}

.panel-footer {
  background-color: white;
  border-top: 0;
}

.navbar {
  background-color: black;
}

.dropdown-menu {
  width: 300px;
}
