<!DOCTYPE html>
<html>
  <head>
  </head>
  <body ng-app="favorites">
      <nav class="navbar navbar-inverse">
        <div ng-controller="favoriteController as favorite">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Favorited Festivals<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ng-repeat="item in favorite.list">
                    <a ng-model="item" >
                      <div class="row">
                        <div class="col-md-6" data-type="favoriteItem" data-id={{item.id}}>
                          {{item.month}}, {{item.dates}}
                        </div>
                        <div class="col-md-6" data-type="favoriteItem" data-id={{item.id}}>
                          {{item.name}}
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </body>
</html>
